/*variables*/

:root {
    --header-heigth: 60px;
    /*Color bg y text*/
    --bg-color: #03051c;

    --text-primary: #2c96a5;
    /*typografia tipo de letra*/
    --body-font: 'Poppins'
        --big-font-size: 32px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
    --smoller-font-size: 12px;
    /* Grosores de letras*/
    --font-medium: 400;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*margenes*/
    --margen-1: 8px;
    --margen-2: 16px;
    --margen-3: 20px;
    --margen-4: 26px;
    --margen-5: 32px;

    /*-Z-index*/
    --z-index-modal: 10;
    --z-fixed: 100;

    /*Sombras*/

    --box-shadown: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;

}


*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--bg-color);
    color: #fff;
    padding: 0;
    margin: 0;

}


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;


}

.textArea {
    width: 52px;
}



/*Clases rusables*/
.section {
    padding: 40px 0;
    margin: 0px;

}

.section__title {
    color: var(--text-primary);
    margin: var(--margen-3) 0;
    text-align: center;
}

.grid--container {
    max-width: 1024px;
    display: grid;
    margin: 0 var(--margen-3);

}

/*Header y navbar*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    z-index: var(--z-fixed);
    box-shadow: var(--box-shadown);
}

.navbar {
    height: var(--header-heigth);
    display: flex;
    justify-content: space-between;
    align-items: center;

}




@media (max-width: 768px) {
    .navbar__menu {
        position: fixed;
        background-color: var(--bg-color);
        width: 100%;
        top: -100%;
        left: 0;
        box-shadow: var(--box-shadown);
        padding: 4.5rem 1rem 1rem;
        transition: .75s;
    }

}




.navbar__item {
    margin-bottom: var(--margen-3);

}

.btn__close {
    position: absolute;
    top: var(--margen-2);
    right: var(--margen-2);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: background .3s; */

}

.btn__close,
.btn__open,
.navbar__logo i {
    font-size: 1.5rem;
    color: #fff;
}

.btn__close:hover {
    background-color: #03051c;
    color: #fff;
}

.navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: var(--font-semi-bold);

}

.navbar__link {
    font-size: 1.2rem;

}

.navbar__item:hover {
    background-color: #191d50;
    border-radius: 5px;

}


.show--menu {
    top: 0;
}

.navbar__logo {
    display: flex;
    align-items: center;
    column-gap: 7px;
    color: #fff;
}

.navbar__link {
    color: #fff;
}




.home__image-home {
    border-bottom-right-radius: 30px;
    height: 290px;
    object-fit: cover;
    float: right;

}

.home_container {
    row-gap: 1.5rem;
    padding: var(--header-heigth) 0 2rem;
}



.home__social {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;

}

.home__social .bx {
    font-size: 1.5rem;
    padding: 12px;

}

.home__social-item {
    border-radius: 50%;
    background-color: #fff;
}

.home__social-link {

    font-size: 2.5rem;
    border-radius: 50%;
}


.home__buttons .btn {
    height: 3rem;
}

.bxs-download {
    font-size: 1.5rem;
}


.home__title,
.home__description {
    text-align: center;
}


.btn {
    border: 0;
}

.home__title {
    padding: 0;
    margin: 0;
}

.home_small {
    font-size: 3rem;
    color: var(--text-primary);

}

.space {
    margin: 10px 10%;
}


.home__buttons {
    display: flex;
    justify-content: center;

}

.btn {
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background-color: #2c96a5;
    transition: .3s;
}

.btn:hover {
    transform: translateY(5px);
}


.about {
    background-color: var(--bg-color);
    color: white;
}


.about__card-title {
    color: var(--text-primary);
}

.about__description {
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
    color: black;

}

.about__description-acerca {
    color: #fff;
}

.about__tags-title {
    color: var(--text-primary);
}


.about__cards {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.about__skill {
    margin: 2.5rem 0;
}

.about__card {
    background-color: #3F536F;
    border-radius: 5px;
    padding: 4rem 2rem 2rem;
    box-shadow: var(--box-shadown);
}


.about__card .bx {
    padding: 12px;
    background-color: #191d50;
    font-size: 2rem;
    border-radius: 50%;
}

.about__tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.about__tags {
    display: inline-block;
    padding: .75rem 1.5rem;
    background-color: black;
    font-size: var(--smoller-font-size);
    border-radius: 5px;
    font-weight: var(--font-semi-bold);
}

.projects__container {
    gap: 2rem;
}

.projects {
    overflow: hidden;
}

.projects__inner {
    margin: 0;
}

.project__image {
    box-shadow: var(--box-shadown);
}

.project__image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.project__info {
    padding: 1rem;

}

.project__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: .2rem;

}




/*Contac*/

.contact {
    background-color: var(--bg-color);
}

.contact__container {
    gap: 2rem;
}

.contact__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact__info-title,
.contact__info-description {
    margin: 0;
}

.contact__info-description {
    padding: 1rem 0;
}

.contact__form {
    width: 100%;
    margin: 0 auto;
    background-color: var(--bg-color);
    padding: 3rem 1.5rem 2rem;
    border-radius: 7px;
}

.contact__form-group {
    margin-bottom: var(--margen-4);
}

.contact__form-label {
    display: block;
    margin: var(--margen-1);
}

.contact_form-input {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 6px;
    font-weight: var(--font-semi-bold);
}

.contact__form-buttons {
    display: flex;
    justify-content: left;

}

.contact__form-button {
    border: 1px solid #03051c;
}

.contact_form-textArea {
    resize: none;
}

/*Footer*/

.footer {
    padding-bottom: 2rem;
}

.footer__social-list {
    display: flex;
    gap: var(--margen-2);
    font-size: 2rem;
}

.footer__copy {
    text-align: center;
    margin-top: 2rem;
    border-top: 1px solid #222;
    padding-top: 2rem;
}


@media (min-width:768px) {
    .header {
        height: 55px;
    }

    .btn__open,
    .btn__close {
        display: none;
    }

    .navbar__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2rem;
    }

    .home_container {
        margin-bottom: 0;
        grid-template-columns: 1fr 1fr 50px;
        grid-auto-rows: auto;
        column-gap: 1rem;
        margin: 0;
    }

    .home__image {
        width: clamp(min(375px, 100%), 48vw, 500px);
        grid-column: 2/3;
        grid-row: 1/4;
        transform: translateY(3.3rem);

    }

    .redes {
        grid-row: 2/3;
    }

    .home__buttons {
        grid-row: 3/3;
    }



    .about__skill {
        grid-template-columns: 1fr .5fr;
        gap: 2rem;
    }

    .projects__container {
        padding: 3rem 0;
        gap: 5rem;
    }

    .project__name {
        text-align: center;
    }

    .project__description {
        text-align: center;
    }

    /* .projects__container .projects__project:nth-child(even) .project__image {
        order: 2;
    }

    .projects__container .projects__project:nth-child(even) .project__image {
        order: 1;
    } */

    .contact__container {
        grid-template-columns: .5fr 1fr;
        justify-content: center;



    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;

    }

}

@media (min-width:1024px) {
    .grid--container {
        margin: 0 auto;
    }

    .project__name {
        text-align: center;
    }

    .project__description {
        text-align: center;
    }

    .footer__container {
        column-gap: 10rem;
    }
}